/* NewsComponent.css */
/* body{
    background-color: #f1f1f1;
    background-image: url('background-image.jpg');  
    background-size: cover;
    background-position: center;

} */

.news-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    padding: 20px;
  }
  
  .news-card {
    background-color: rgb(3, 3, 31);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 0.5s ease-in-out;
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  h2 {
    color: rgba(249, 7, 7, 0.829);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.6;
    color: rgb(222, 222, 222);
  }
  